body {
  max-width: 500px;
  padding: 0 20px;
  margin: 0 auto;
  font-family: 'Karla', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

header h1 {
  text-align: center;
  margin: 1.5em 0;
  font-size: 1.5em;
}

nav {
  display: block;
  margin: 0 auto;
  width: 70%;
  min-width: 280px;
  font-weight: normal;
}

nav ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
  list-style: none;
}

nav a {
  padding: 5px;
  text-decoration: none;
  color: black;
}

nav a:hover {
  background-color: #f0f0f0;
}

nav a.selected {
  background-color: #e0e0e0;
}

.divider {
  background: #ddd;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    #ccc,
    rgba(255, 255, 255, 0)
  );
  height: 1px;
  margin: 2em 0;
}

main {
  line-height: 1.9em;
  font-size: .9em;
  text-align: justify;
}

main a {
  color: black;
}

#image {
  margin: 2em 0;
}

#image img {
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  width: 100%;
  max-width: 200px;
}

article {
  margin: 2em 0;
}

aside {
  margin: 2em 0;
}

footer {
  margin-top: 3em;
  margin-bottom: 2em;
  text-align: center;
  color: gray;
}

#papers h2 {
  text-transform: capitalize;
}

#papers a {
  font-family: Consolas;
  color: #757575;
  text-decoration: none;
}

#papers ul#sort-options {
  text-align: left;
}

#papers ul#sort-options li {
  display: inline-block;
  margin-right: 10px;
}

#papers ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

#paperlist > li {
  margin: 25px 0;
}

#paperlist .me {
  text-decoration: underline;
  font-style: normal;
}

.paperlinks li {
  display: inline-block;
  margin-right: 10px;
}

.codeblock {
  padding: 16px;
  background: #f0f0f0;
  /* border: 1px solid #ddd; */
  border: none;
  display: none;
  overflow-x: scroll;
  overflow: auto;
  line-height: 2;
  text-align: left;
}

pre {
  margin: 0;
  font-family: Consolas;
  font-size: .75em;
}